asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
decorator==4.3.0
defusedxml==0.5.0
Distance==0.1.3
future==0.16.0
gitdb2==2.0.4
github3.py==1.2.0
GitPython==2.1.11
idna==2.7
jira==2.0.0
junitparser==1.2.2
jwcrypto==0.5.0
liac-arff==2.3.1
networkx==2.1
numpy==1.15.1
oauthlib==2.1.0
pbr==4.2.0
pycparser==2.18
PyJWT==1.6.4
pyswarm==0.6
python-bugzilla==2.2.0
python-dateutil==2.7.3
requests==2.19.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
scipy==1.1.0
six==1.11.0
smmap2==2.0.4
uritemplate==3.0.0
urllib3==1.23
